ADE/Emisi/EmisiADE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:lanpar="http://www.sig3d.org/citygml/2.0/landparcel/1.0" 
	xmlns:bldg="http://www.opengis.net/citygml/building/2.0" 
	xmlns:core="http://www.opengis.net/citygml/2.0" 
	xmlns:emisi="http://www.sig3d.org/citygml/2.0/emisi/1.0" 
	xmlns:gml="http://www.opengis.net/gml" 
	xmlns:luse="http://www.opengis.net/citygml/landuse/2.0" 
	xmlns:tran="http://www.opengis.net/citygml/transportation/2.0" 
	xmlns:veg="http://www.opengis.net/citygml/vegetation/2.0" 
	xmlns:wtr="http://www.opengis.net/citygml/waterbody/2.0" 
	elementFormDefault="qualified" 
	targetNamespace="http://www.sig3d.org/citygml/2.0/emisi/1.0" version="1.0">

<annotation>
    <documentation>ADE untuk Menghitung emisi dan stok karbon</documentation>
  </annotation>

  <import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/building.xsd"/>
  <import namespace="http://www.opengis.net/citygml/landuse/2.0" schemaLocation="http://schemas.opengis.net/citygml/landuse/2.0/landUse.xsd"/>
  <import namespace="http://www.opengis.net/citygml/transportation/2.0" schemaLocation="http://schemas.opengis.net/citygml/transportation/2.0/transportation.xsd"/>
  <import namespace="http://www.opengis.net/citygml/vegetation/2.0" schemaLocation="http://schemas.opengis.net/citygml/vegetation/2.0/vegetation.xsd"/>
  <import namespace="http://www.opengis.net/citygml/waterbody/2.0" schemaLocation="http://schemas.opengis.net/citygml/waterbody/2.0/waterBody.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
  <import namespace="http://www.sig3d.org/citygml/2.0/landparcel/1.0" schemaLocation="https://raw.githubusercontent.com/BudiHeri/Thesis/refs/heads/main/ADE/LandParcel/LandParcelADE.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="AuxiliaryTrafficArea" substitutionGroup="tran:AuxiliaryTrafficArea" type="emisi:AuxiliaryTrafficAreaType">
    <annotation>
      <documentation>Type describing the class for auxiliary traffic Areas. These are the surfaces where no traffic actually
				takes place, but which belong to a transportation object. Examples are kerbstones, road markings and grass stripes. As
				subclass of _CityObject, an AuxiliaryTrafficArea inherits all attributes and relations, in particular an id, names,
				external references, and generalization relations.</documentation>
    </annotation>
  </element>
  <complexType name="AuxiliaryTrafficAreaType">
    <complexContent>
      <extension base="tran:AuxiliaryTrafficAreaType">
        <sequence>
          <element name="emissionFactor" type="double"/>
          <element name="area" type="double"/>
          <element name="totalEmission" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AuxiliaryTrafficAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:AuxiliaryTrafficArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="HouseholdFuelType">
    <union memberTypes="emisi:HouseholdFuelEnumerationType emisi:HouseholdFuelOtherType"/>
  </simpleType>
  <simpleType name="HouseholdFuelEnumerationType">
    <restriction base="string">
      <enumeration value="LPG"/>
      <enumeration value="Kerosene"/>
    </restriction>
  </simpleType>
  <simpleType name="HouseholdFuelOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="WaterEmission" substitutionGroup="wtr:WaterSurface" type="emisi:WaterEmissionType"/>
  <complexType name="WaterEmissionType">
    <complexContent>
      <extension base="wtr:WaterSurfaceType">
        <sequence>
          <element name="emissionFactor" type="double"/>
          <element name="area" type="double"/>
          <element name="totalEmission" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterEmissionPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:WaterEmission"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="HouseholdEmission" substitutionGroup="bldg:Building" type="emisi:HouseholdEmissionType"/>
  <complexType name="HouseholdEmissionType">
    <complexContent>
      <extension base="bldg:BuildingType">
        <sequence>
          <element name="vehicleFuelType" type="emisi:VehicleFuelType"/>
          <element name="vehicleEmissionFactor" type="double"/>
          <element name="vehicleTotalConsumption" type="double"/>
          <element name="vehicleTotalEmission" type="double"/>
		  <element name="householdFuelType" type="emisi:HouseholdFuelType"/>
		  <element name="householdFuelEmissionFactor" type="double"/>
		  <element name="householdFuelTotalConsumption" type="double"/>
		  <element name="householdFuelTotalEmission" type="double"/>
		  <element name="electricalEmissionFactor" type="double"/>
		  <element name="electricalTotalConsumption" type="double"/>
		  <element name="electricalTotalEmission" type="double"/>
		  <element name="totalEmission" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HouseholdEmissionPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:HouseholdEmission"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="FungsiJalanType">
    <union memberTypes="emisi:FungsiJalanEnumerationType emisi:FungsiJalanOtherType"/>
  </simpleType>
  <simpleType name="FungsiJalanEnumerationType">
    <restriction base="string">
      <enumeration value="Jalan"/>
      <enumeration value="Parkir"/>
    </restriction>
  </simpleType>
  <simpleType name="FungsiJalanOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="FungsiTambahanType">
    <union memberTypes="emisi:FungsiTambahanEnumerationType emisi:FungsiTambahanOtherType"/>
  </simpleType>
  <simpleType name="FungsiTambahanEnumerationType">
    <restriction base="string">
      <enumeration value="Median"/>
      <enumeration value="JalurHijau"/>
      <enumeration value="Sempadan"/>
    </restriction>
  </simpleType>
  <simpleType name="FungsiTambahanOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="NetCarbon" type="emisi:NetCarbonType" substitutionGroup="lanpar:LandParcel"/>
  <complexType name="NetCarbonType">
    <complexContent>
      <extension base="lanpar:LandParcelType">
        <sequence>
          <element name="totalCarbonStock" type="double"/>
          <element name="totalEmission" type="double"/>
          <element name="NetCarbonSink" type="double"/>
		  <element maxOccurs="unbounded" minOccurs="0" name="carbonSpace" type="emisi:NetCarbonSpacePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="TotalEmission" type="emisi:_OpeningPropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalEmission" type="emisi:_BoundarySurfacePropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalCarbonStock" type="emisi:SolitaryVegetationObjectPropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalEmission" type="emisi:HouseholdEmissionPropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalEmission" type="emisi:WaterEmissionPropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalEmission" type="emisi:AuxiliaryTrafficAreaPropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalEmission" type="emisi:TrafficAreaPropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalCarbonStock" type="emisi:LowVegetationPropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalCarbonStock" type="emisi:TreeClusterPropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" name="TotalCarbonStock" type="emisi:LandUsePropertyType">
          <annotation>
            <appinfo>
              <taggedValue tag="relationType">aggregation</taggedValue>
            </appinfo>
          </annotation>
        </element>
		</sequence>
    </extension>
  </complexContent>
</complexType>
  <complexType name="NetCarbonPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:NetCarbon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="NetCarbonSpace" type="emisi:NetCarbonSpaceType" substitutionGroup="lanpar:RightOfSpace"/>
  <complexType name="NetCarbonSpaceType">
    <complexContent>
      <extension base="lanpar:RightOfSpaceType">
        <sequence>
          <element name="totalCarbonStock" type="double"/>
          <element name="totalEmission" type="double"/>
          <element name="NetCarbonSink" type="double"/>
        </sequence>
	  </extension>
	</complexContent>
  </complexType>
  <complexType name="NetCarbonSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:NetCarbonSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="VehicleFuelType">
    <union memberTypes="emisi:JenisKendaraanEnumerationType emisi:JenisKendaraanOtherType"/>
  </simpleType>
  <simpleType name="JenisKendaraanEnumerationType">
    <restriction base="string">
      <enumeration value="Gasoline"/>
      <enumeration value="Diesel"/>
    </restriction>
  </simpleType>
  <simpleType name="JenisKendaraanOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="KelasJalanType">
    <union memberTypes="emisi:KelasJalanEnumerationType emisi:KelasJalanOtherType"/>
  </simpleType>
  <simpleType name="KelasJalanEnumerationType">
    <restriction base="string">
      <enumeration value="arteri"/>
      <enumeration value="kolektor"/>
      <enumeration value="lokal"/>
      <enumeration value="lingkungan"/>
      <enumeration value="tol"/>
      <enumeration value="gang/setapak"/>
    </restriction>
  </simpleType>
  <simpleType name="KelasJalanOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="LandUse" substitutionGroup="luse:LandUse" type="emisi:LandUseType"/>
  <complexType name="LandUseType">
    <complexContent>
      <extension base="luse:LandUseType">
        <sequence>
          <element name="emissionFactor" type="double"/>
          <element name="area" type="double"/>
          <element name="totalEmission" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LandUsePropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:LandUse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <simpleType name="MaterialBangunanType">
    <union memberTypes="emisi:MaterialBangunanEnumerationType emisi:MaterialBangunanOtherType"/>
  </simpleType>
  <simpleType name="MaterialBangunanEnumerationType">
    <restriction base="string">
      <enumeration value="Besi"/>
      <enumeration value="Beton"/>
      <enumeration value="Kayu"/>
      <enumeration value="Batu"/>
      <enumeration value="Bata"/>
      <enumeration value="Keramik"/>
      <enumeration value="Alumunium"/>
      <enumeration value="Kaca"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialBangunanOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialJalanType">
    <union memberTypes="emisi:MaterialJalanEnumerationType emisi:MaterialJalanOtherType"/>
  </simpleType>
  <simpleType name="MaterialJalanEnumerationType">
    <restriction base="string">
      <enumeration value="Aspal"/>
      <enumeration value="Beton"/>
      <enumeration value="Tanah/Pasir"/>
      <enumeration value="Batako"/>
      <enumeration value="Rumput"/>
    </restriction>
  </simpleType>
  <simpleType name="MaterialJalanOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="PenggunaanType">
    <union memberTypes="emisi:PenggunaanEnumerationType emisi:PenggunaanOtherType"/>
  </simpleType>
  <simpleType name="PenggunaanEnumerationType">
    <restriction base="string">
      <enumeration value="RodaEmpat"/>
      <enumeration value="RodaDua"/>
      <enumeration value="Busway"/>
      <enumeration value="KeretaApi"/>
      <enumeration value="PejalanKaki"/>
      <enumeration value="Sepeda"/>
    </restriction>
  </simpleType>
  <simpleType name="PenggunaanOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="TreeCluster" substitutionGroup="veg:PlantCover" type="emisi:TreeClusterType"/>
  <complexType name="TreeClusterType">
    <complexContent>
      <extension base="veg:PlantCoverType">
        <sequence>
          <element name="carbonStockFactor" type="double"/>
          <element name="LuasTajuk" type="double"/>
          <element name="totalCarbonStock" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TreeClusterPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:TreeCluster"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="SolitaryVegetationObject" substitutionGroup="veg:SolitaryVegetationObject" type="emisi:SolitaryVegetationObjectType"/>
  <complexType name="SolitaryVegetationObjectType">
    <complexContent>
      <extension base="veg:SolitaryVegetationObjectType">
        <sequence>
          <element name="aboveGroundBiomass" type="double"/>
          <element name="carbonStockFactor" type="double"/>
          <element name="totalCarbonStock" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SolitaryVegetationObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:SolitaryVegetationObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="LowVegetation" substitutionGroup="veg:PlantCover" type="emisi:LowVegetationType"/>
  <complexType name="LowVegetationType">
    <complexContent>
      <extension base="veg:PlantCoverType">
        <sequence>
          <element name="carbonStockFactor" type="double"/>
          <element name="LuasTajuk" type="double"/>
          <element name="totalCarbonStock" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LowVegetationPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:LowVegetation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="TrafficArea" substitutionGroup="tran:TrafficArea" type="emisi:TrafficAreaType">
    <annotation>
      <documentation>Type describing the class for traffic Areas. Traffic areas are the surfaces where traffic actually takes
				place. As subclass of _CityObject, a TrafficArea inherits all attributes and relations, in particular an id, names,
				external references, and generalization relations.</documentation>
    </annotation>
  </element>
  <complexType name="TrafficAreaType">
    <complexContent>
      <extension base="tran:TrafficAreaType">
        <sequence>
          <element name="emissionFactor" type="double"/>
          <element name="area" type="double"/>
          <element name="totalEmission" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TrafficAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:TrafficArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="_BoundarySurface" substitutionGroup="bldg:_BoundarySurface" type="emisi:_BoundarySurfaceType">
    <annotation>
      <documentation>SIG3D: Abstract super class of boundary surfaces of Building, BuildingPart, Room and BuildingInstallation</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="_BoundarySurfaceType">
    <complexContent>
      <extension base="bldg:AbstractBoundarySurfaceType">
        <sequence>
          <element name="Material" type="string"/>
          <element name="emissionFactor" type="double"/>
          <element name="area" type="double"/>
          <element name="totalEmission" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_BoundarySurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:_BoundarySurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="RoofSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================== -->
	<element name="RoofSurface" type="emisi:RoofSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================== -->

	<complexType name="WallSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================= -->
	<element name="WallSurface" type="emisi:WallSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	
	<complexType name="GroundSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================= -->
	<element name="GroundSurface" type="emisi:GroundSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	
	<complexType name="ClosureSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================= -->
	<element name="ClosureSurface" type="emisi:ClosureSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================= -->

	<!-- ===================================LOD4 only Surfaces======================================= -->
	<!-- ========================================================================================= -->
	<complexType name="FloorSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================= -->
	<element name="FloorSurface" type="emisi:FloorSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	
	<complexType name="OuterFloorSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================== -->
	<element name="OuterFloorSurface" type="emisi:OuterFloorSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================== -->
	
	<complexType name="InteriorWallSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================= -->
	<element name="InteriorWallSurface" type="emisi:InteriorWallSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	
	<complexType name="CeilingSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================= -->
	<element name="CeilingSurface" type="emisi:CeilingSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	
	<complexType name="OuterCeilingSurfaceType">
		<complexContent>
			<extension base="emisi:_BoundarySurfaceType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================== -->
	<element name="OuterCeilingSurface" type="emisi:OuterCeilingSurfaceType" substitutionGroup="emisi:_BoundarySurface"/>
	<!-- ========================================================================================== -->
	
	<!-- =============================Relation of Buildings/Rooms to its bounding Surfaces================== -->
	<!-- ========================================================================================= -->
  <element abstract="true" name="_Opening" substitutionGroup="bldg:_Opening" type="emisi:_OpeningType">
    <annotation>
      <documentation>SIG3D: Abstract super class of Window and Door</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="_OpeningType">
    <complexContent>
      <extension base="bldg:AbstractOpeningType">
        <sequence>
          <element name="Material" type="string"/>
          <element name="emissionFactor" type="double"/>
          <element name="area" type="double"/>
          <element name="totalEmission" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="_OpeningPropertyType">
    <sequence minOccurs="0">
      <element ref="emisi:_Opening"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WindowType">
		<annotation>
			<documentation> Type for windows in boundary surfaces. Used in LOD3 and LOD4 only . As subclass of _CityObject, a window
				inherits all attributes and relations, in particular an id, names, external references, and generalization relations.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="emisi:_OpeningType">
				<sequence>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================= -->
	<element name="Window" type="emisi:WindowType" substitutionGroup="emisi:_Opening"/>
	<!-- ========================================================================================= -->
	
	<complexType name="DoorType">
		<annotation>
			<documentation> Type for doors in boundary surfaces. Used in LOD3 and LOD4 only . As subclass of _CityObject, a Door
				inherits all attributes and relations, in particular an id, names, external references, and generalization relations.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="emisi:_OpeningType">
				<sequence>
					<element name="address" type="core:AddressPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================================================= -->
	<element name="Door" type="emisi:DoorType" substitutionGroup="emisi:_Opening"/>
	<!-- ========================================================================================= -->
	
 </schema>
